.formInput {
	width: 70%;
}
.listComponent {
	width: 100%;
	text-align: center;
}
.taskList {
	li {
		list-style: none;
		padding: 20px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}
	border: 1px solid #ddd;
	border-radius: 5px;
	padding-left: 0;
}
.completed {
	text-decoration: line-through;
	vertical-align: middle;
	font-size: 20px;
}
.notCompleted {
	vertical-align: middle;
	font-size: 20px;
}
.todoHeader {
	margin-bottom: 40px;
}
.header {
	margin-bottom: 40px;
}
